
  <div class="pointsDiv d-flex flex-column justify-content-center align-items-center">
    <span class="display-3">{{card?.upvotes - card?.downvotes}}</span>
    <span>Points</span>
  </div>

  <div class="dataContainer p-1 d-flex flex-column justify-content-between">
    <div class="dataTopContainer text-left">
        <p class="m-0">szdfsdf</p>
        <p class="text-muted"><small class="text-muted">({{card?.link}})</small></p>
    </div>
    <div class="dataBottomContainer">
        <button href="#" routerLink="/" class="btn btn-link" (click)="upVote(card)">
          <i class="fa fa-arrow-circle-o-up"></i> Upvote</button>
        <button href="#" routerLink="/" class="btn btn-link" [disabled]="card?.upvotes == 0"  (click)="downVote(card)">
          <i class="fa fa-arrow-circle-o-down"></i> Downvote</button>
    </div>
  </div>
  